.column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  .header-left span{
      margin-right: 10px;
      font-weight: 500;
  }
  
  .header-icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border-radius: 9999px;
  }
  
  .header-right {
    display: flex;
  }
  
  .header-right-icon {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    cursor: pointer;
  }
  